---
layout: default
---

<h1>
  {{ page.title }}
</h1>

<div>
  <img class="img-profile" src='/assets/img/profile.jpeg' />
  <div class="post-card">
    <span class="post-author">{{ page.author }}</span>
    <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </div>
</div>

{% if page.image %}
  <img src="{{ site.github.url }}/assets/img/{{ page.image }}" class="post-img">
{% endif %}

{{ content }}

{% include social-sharing.html %}

{% include related-posts.html %}

{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
